@import "tailwindcss";

@theme {
    --color-brand-primary: #CCFF00;
    --color-main-text: white;
    --color-main-bg: black;
}

@layer base {
    body {
        background-color: var(--color-main-bg);
        color: var(--color-main-text);
    }
}
